#nav {
	margin-bottom: 0px;
	background-color: white;
}

#bodystuff {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#bodystuff h1, p {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


.mainbig {
	font-size: 50px;
	line-height: 1;
}

p {
	font-family: 'Open Sans', sans-serif;
}



.headerman {
	padding-bottom: 30px;
	padding-top: 30px;
}



#page1 {
	background: url('../images/sprinkler.jpg') center;
	background-size: cover;
	text-align: center;
	color: white;
	margin-left: -40px;
	
}

.bx-wrapper {
	margin-bottom: 10px;
}

.buybutton {
	background-color: #3498DB;
	border: none;
	color: white;
	margin-top: 10px;
	font-size: 30px;
	padding: 5px 30px 5px 30px;
	border-radius: 5px;
}

#page2 {
	background: url('../images/sprinkler2.jpg') center;
	background-size: cover;
	text-align: center;
	color: white;
	margin-left: -40px;
	
}

#page3 {
	background: url('../images/sky.jpg') center;
	background-size: cover;
	text-align: center;
	color: white;
	margin-left: -40px;
	
}